.codoacodo{
    display: inline-flex;
    align-items: center;
}

.contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(85, 85, 85);
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-nav a{
    color: lightgray;
    text-decoration: none;
    padding: 5px;
}

.cards{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.card-text{
   font-size: x-small;
   text-align: center;
}

.card1{
    border-color: rgb(0, 162, 255);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}

.card2{
    border-color: rgb(69, 124, 53);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}

.card3{
    border-color: rgb(233, 139, 17);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}

.valorticket{
    text-align: center;
}

.formulario1{
    text-align: center;
}

.formulario2{
    text-align: center;
}

.formulario3{
    text-align: center;
    height: 100px;
}

#total{
    text-align: center;
    background-color: aquamarine;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}

.botones{
    text-align: center;
    margin: 20px;
}

.contenedor-nav2{
    display: flex;
    justify-content: space-around;
    background-color: rgb(85, 85, 85);
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}